<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1572367625-i392jvd8ldke3ngqfrsiaq40svic5clk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1572367625-i392jvd8ldke3ngqfrsiaq40svic5clk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1572367625-992h3gfkb8dn913vnss9ie380m1gh6ir.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEtr-NLVUGKOqYG0gkd9cY2oqzgi2tFGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1572367625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>appx-45369</string>
	<key>STORAGE_BUCKET</key>
	<string>appx-45369.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1572367625:ios:6929df505bdfa376f3b7d8</string>
</dict>
</plist>